<li class="<%= span %>">
  <div class="thumbnail">
    <a href="<%= image.upload.url(:original) %>" target="_blank">
      <div class="ratio"
           style="background-image: url('<%= image.upload.url(:original) %>')" >
      </div>
    </a>
    <div class="caption">
      <h6><%= image.name %></h6>
    </div>
  </div>
</li>