<div id="images">
  <% images.each do |image| %>
    <div class="image">
      <div class="image_placeholder">
        <%= image_tag image.image_url.to_s %>
      </div>
      <div class="name"><%= image.name %></div>
    </div>    
  <% end %>
  <div class="clear"></div>
</div>