<div class="results">
  <% if values[:percentual] > 0.00 %>
    <span class="result">
      <%= number_to_percentage values[:percentual], precision: 2 %>
    </span> of the UK adult population excluded from using this design proposal.

    <br /><br />
    <b>Recommendations:</b>
    <ul>
      <% values[:messages].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="positive_result">Ok</p>
  <% end %>
</div>