<div id="menu">
  <span id="current">Project Specifications</span>
  &nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;
  <span>Design Proposals</span>
  &nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;
  <span>Design Proposals Presentation</span>
</div>

<h1>New project</h1>

<%= render 'form' %>
