<% if !images.blank? %>
  <!-- TODO: move this style -->
  <table style="border: none">
    <tr>
      <% images.each_with_index do |image, index| %>
        <%= raw('<td>') if index % 2 == 0 %>
          <%= image_tag image, size: '96x64' %>
        <%= raw('</td>') if index - 1 % 2 == 0 %>
      <% end %>
    </tr>
  </table>
<% end %>
