<li class="span3">
  <div class="thumbnail">
    <%= image_tag image.upload.url(:original), height: 120, width: 120 %>
    <div class="caption">
      <h5><%= image.name %></h5>
    </div>
  </div>
</li>