<table class="fields">
  <tr>
    <td>
      <div class="field">
        <%= f.check_box :has_screen %>
        <%= f.label :has_screen %>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="field">
        <%= link_to_remove_fields "Remove screen", f %>
      </div>
    </td>
  </tr>
</table>
