<div id="menu">
  <span>Project Specifications</span>
  &nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;
  <span id="current">Design Proposals</span>
  &nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;
  <span>Design Proposals Presentation</span>
</div>

<h1>Editing proposal</h1>

<%= render 'form' %>

<%= link_to 'Back', proposals_path %>
