//
// This is a manifest file that'll be compiled into application.css, which will 
// include all the files listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, 
// vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any, 
// can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at 
// the top of the compiled file, but it's generally better to create a new file 
// per style scope.
//
//= require_self
//= require_tree .
//

/* colors */
$yellow: #F6F792;
$grey: #333745;
$blue: #77C4D3;
$light-blue: #DAEDE2;
$red: #EA2E49;
$eee-grey: #EEE;
$ddd-grey: #DDD;
$dark-grey: #333;

/* global padding */
$small-padding: 10px;
$padding: 25px;
$shadow: 1px 1px 2px $dark-grey;

// font-family: 'Ropa Sans', sans-serif;
// font-family: 'Gentium Basic', serif;
// font-family: 'Advent Pro', sans-serif;

body {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: url("stripe.png");
  background-repeat: repeat;
  text-align: center;
  color: $dark-grey;
}

#container {
  margin: 0 auto;
  width: 860px;
  text-align: left;

  #banner {
    background: $grey;
    box-shadow: $shadow;
    padding: $padding;

    p {
      font-family: 'Advent Pro', sans-serif;
      font-size: 36px;
      text-shadow: $shadow;
      color: $eee-grey;
      margin-bottom: 5px;
      margin-top: $padding;
    }
  }

  #menu {
    background-color: $yellow;
    padding: $small-padding;
    padding-left: $padding;
    margin: -25px;
    margin-bottom: 25px;

     #current {
      font-weight: bold;
      text-decoration: underline;
    }
  } 

  #main {
    padding: $padding;
    background: $eee-grey;
    box-shadow: $shadow;
    min-height: 440px;
  }

  #footer {
    color: $eee-grey;
    background-color: $grey;
    box-shadow: $shadow;
    padding: $small-padding;
    padding-left: $padding;

    a {
      color: $ddd-grey;
    }
  }
}

.results {
  padding: $small-padding;
  background: $ddd-grey;

  p {
    padding-left: $padding;
  }
}
.result {
  color: $red;
  font-size: 18px;
  font-weight: bold;
}

.positive_result {
  color: #0A0;
  font-weight: bold;
}

h1 {
  color: $grey;
  border-bottom: 1px dotted;
}

h2 {
  color: $blue;
  border-bottom: 1px dotted;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px; 
}

.fields {
  border: none;

  td {
    width: 160px;
  }
}

.vspace {
  padding: 15px;
}

.grip {
  border: 1px $blue solid;
  background-color: white;
  text-align: center;
  padding: $small-padding;
  // display: table;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid $blue;

  .list_description {
    width: 80%;
  }

  .list_line_even {
    background: $ddd-grey;
  }

  .list_line_odd {
    background: $eee-grey;
  }

  .list_actions {
    font-size: small;
    text-align: right;
    padding-left: $small-padding;
  }

  tr td {
    padding: 5px;
    vertical-align: middle;
  }

  th {
    border-bottom: 1px solid $blue;
  }
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: $dark-grey;
  &:visited {
    color: $dark-grey; 
  }
  &:hover {
    color: $eee-grey;
    background-color: $dark-grey; 
  } 
}

div {
  &.field, &.actions {
    margin-bottom: 10px; 
  } 
}

input, textarea {
  border: 1px $blue solid;
  font-family: 'Ropa Sans', sans-serif;
  color: $dark-grey;
  padding: 5px;
}

input[type=submit] {
  background-color: $blue;
  padding: $small-padding;
  &:hover {
    color: $eee-grey;
    background-color: $dark-grey;
    cursor: pointer;
  } 
}

select {
  border: 1px $blue solid;
  font-family: 'Ropa Sans', sans-serif;
  color: $dark-grey;
  padding: 5px;
}

fieldset {
  border: 1px $grey dotted;
  width: 60%;
}

legend {
  font-weight: bold;
  color: $grey;
  font-size: 15px;
}

.button {
  border: 1px $blue solid;
  font-family: 'Ropa Sans', sans-serif;
  color: $dark-grey;
  background-color: $blue;
  padding: $small-padding;
  text-decoration: none;
} 
 
#notice {
  color: green; 
}

.field_with_errors {
  display: table;
  padding: 0px;
  margin-top: -6px;
  margin-bottom: -6px;
  border-bottom: 1px dashed $red;
}

#error_explanation {
  width: 450px;
  border: 1px solid $red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 10px;
  background-color: white;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $red;
    color: $eee-grey; 
  }
  
  ul li {
    font-size: 12px;
  } 
}

.label {
  font-weight: bold;
}

.image {
  border: solid 1px $ddd-grey;
  padding: 10px 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;

  .name {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
  }

  img, .image_placeholder {
    width: 200px;
    height: 150px;
    background-color: $ddd-grey;
  }
  
  .actions {
    font-size: small;
    text-align: center;
    color: $grey;
  }

}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}